/* Home.css */

.home-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000; /* Fallback in case the star field doesn't cover */
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  height: 100%;
}

.profile-section {
  text-align: center;
  flex: 0.68;
}

.name {
  font-size: 6.3em; /* Increase font size */
  font-family: 'Brittany Signature'; /* Valid cursive fonts */
  color: white;
  margin-bottom: 0em;
}

.role {
  font-size: 2.5em; /* Increase font size */
  color: white;
  margin-bottom: 0.2em;
}

.profile-picture {
  width: 340px; /* Increase size */
  height: 340px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 0.2em;
}

/*
.visitor-count {
  position: absolute;
  bottom: 20px;
  left: 300px; /* Move it further left */
/*  color: white;
  font-size: 1.2em; /* Slightly increase font size */
/*} */


.button-section {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Increase spacing between buttons */
  flex: 0;
  align-items: right;
}

.nav-button {
  background-color: #777;
  color: white;
  border: none;
  padding: 49px 0px; /* Increase padding */
  font-size: 1.5em; /* Increase font size */
  cursor: pointer;
  border-radius: 39px;
  transition: background-color 0.3s;
  width: 500px; /* Increase button width */
  text-align: center;
}

.nav-button:hover {
  background-color: #555;
}


