/* Work.css */

.work-page {
  padding-top: 80px; /* To account for the fixed navbar */
  color: #e0e0e0;
}

.work-page h1 {
  text-align: center;
  margin-bottom: 40px;
}

.work-page section {
  margin-bottom: 40px;
}

.work-page h2 {
  color: #8ab4f8;
  margin-bottom: 10px;
}

.work-page p {
  font-size: 18px;
  line-height: 1.6;
}
